.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 18px;
}

@media screen and (max-width: 968px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
  }
}
