.form__btn {
  outline: 0;
  border: 0;
  background-color: #000;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
  padding: 13px 0 18px 0;
  transition: opacity 0.3s ease;
}

.form__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .form__btn {
    padding: 10px;
    font-size: 14px;
  }
}
