.header {
  margin-bottom: 36.25px;
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .header {
    width: calc(100% + 38px);
    margin-left: -19px;
    margin-bottom: 38.25px;
  }
}
