.form__container {
  display: block;
  border: none;
  margin: 0 0 48px 0;
  padding: 0;
}

.form__container:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .form__container {
    margin-bottom: 24px;
  }
}
